<!-- Header of the page -->
<header>
  <h2>Welcome to Good Samaritan</h2>
</header>

<hr>

<!-- Submit form and helpfeed -->
<div class="container">
  <div class="row">
    <button class="btn btn-success" ng-click="boom = true" ng-hide="boom">Need Help?</button>
    <div>
      <form ng-show="boom" ng-submit="addHelp(newHelp, currentUser.id)">
        <textarea name="Name" rows="8" cols="40" placeholder="What's wrong?" ng-model="newHelp.problem"></textarea>

        <input type="text" placeholder="Enter Your Location" ng-model="newHelp.landmark">
        <button class="btn btn-warning" ng-click="boom = false" type="submit">Get Help!</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div>
      <h2>Help, we need somebody!</h2>
      <div>
        <ul>

          <li class="helpRepeat" ng-repeat="help in allposts">

            <h4>{{help.user}}</h4>
            <span>{{help.date | date : format : timezone}}</span>
            <p>
              {{help.problem}}
            </p>
            <a href="#/{{help.id}}"><button class="btn btn-info">Learn More</button></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
